<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening App</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h6>Autenticando...</h6>
    <script>
        (function(){
            window.location.replace('{{url}}');
            setTimeout(()=>{
                window.location.replace('{{playStoreUrl}}');
            },2000);
        })();
    </script>
</body>
</html>