{% extends 'landing_page/landingBase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load cent_to_reel %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Política de Privacidade - TicTag</title>
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
    <!-- Image Logo -->
    

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="/landing/"><img src="{% static 'landing/images/log_nova_tictag_branca_400x105.png' %}" alt="logo" style="max-height: 50px; width: auto;"></a> 
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>Política de Privacidade</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/landing/">Início</a><i class="fa fa-angle-double-right"></i><span>Política de Privacidade</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        
                        <p>Esta Política de Privacidade (“Política”) se aplica a todos os indivíduos que de qualquer forma interagem, acessam ou utilizam nossos Serviços, por meio do Portal disponibilizado no site http://www.tictag.com.br/ .</p>
                        <p>Cada usuária e usuário do Portal será referenciado nesta Política como “você”.</p>
                        <p>A presente Política rege sobre o Tratamento de Dados Pessoais que são disponibilizados. A mesma deve ser lida em conjunto com os Termos de Uso, para garantir que você esteja informado e compreenda todos os termos apresentados.</p>
                        <p>Os termos desta Política são interpretados de acordo com as leis de proteção de dados aplicáveis – Lei no 13.709/2018 (“Lei Geral de Proteção de Dados”).</p>
                        <p>A aceitação da nossa Política será feita quando você acessar o Portal. Isso indicará que você está ciente e em total acordo com a forma que utilizaremos as suas informações e seus dados.</p>
                        <h4>DEFINIÇÕES</h4>
                        <p>Para os fins desta Política, são considerados os Termos a seguir:</p>
                        <p>DADO PESSOAL: qualquer informação relacionada a uma pessoa física identificada ou identificável, portanto todo aquele dado que identifique uma pessoa física, ou que, por meio de um conjunto de dados, possa a vir identificar uma pessoa física, por exemplo: nome, RG, CPF, endereço, dados de acesso à internet, telefone, e- mail, etc.</p>
                        <p>TITULAR DO DADO: pessoa física a quem os Dados Pessoais são objeto do Tratamento.</p>
                        <p>CONTROLADOR/USUÁRIO: consiste no agente a quem compete as decisões referentes ao Tratamento dos Dados Pessoais.</p>
                        <p>OPERADOR: é o agente que realiza o tratamento em nome do Controlador, sob suas orientações.</p>
                        <p>SEGURANÇA DA INFORMAÇÃO: proteção de um conjunto de informações, no sentido de preservar a confidencialidade, integridade, disponibilidade, autenticidade e legalidade das informações.</p>
                        <h4>QUEM É O RESPONSÁVEL PELOS DADOS PESSOAIS?</h4>
                        <p>Para uso da plataforma TicTag e seus aplicativos relacionados, bem como api de terceiros, a SimFazemos atuará como Operadora dos dados pessoais, sendo responsável apenas pelo armazenamento dos dados. Já o Usuário atuará como controlador dos dados, sendo responsável pelas decisões referentes ao tratamento dos dados pessoais.</p>
                        <p>O Tratamento será realizado de acordo com as instruções do Controlador e em observância à lei geral de proteção de dados pessoais (Lei no 13.709/2018).</p>
                        <h4>COMO USAMOS SEUS DADOS PESSOAIS?</h4>
                        <p>No contexto da plataforma TicTag, poderá ser necessário coletar alguns de seus Dados Pessoais para.</p>
                        <p>Criar e gerir sua conta: utilizamos sua informação para criar a sua conta e para gerir a nossa relação com você. Utilizamos igualmente a você para nos comunicarmos com você em relação à sua conta e aos nossos produtos e serviços.</p>
                        <p>Fornecer serviços à você e gerir quaisquer reclamações ou pedidos: podemos utilizar a sua informação para lhe oferecer serviço de suporte e apoio e gerir qualquer reclamação ou pedidos em seu nome;<p>Fornecer serviços e produtos mediante pagamento, seja da SimFazemos e de seus parceiros;<p>Utilizamos suas informações para nos comunicarmos com você e para manter você atualizado sobre nossos serviços e produtos e sobre terceiros pelos quais possa estar interessado, bem como fazer sugestões e recomendações em nossos sistemas e aplicativos que lhe possam interessar. Fornecemos essas informações por meio do site TicTag, via Whatsapp e via e-mail.</p>
                        <h4>COM QUEM COMPARTILHAMOS SEUS DADOS PESSOAIS?</h4>
                        <p>Nós não vendemos ou trocamos seus Dados Pessoais com terceiros, mas podemos compartilhar com outras pessoas como parte essencial da capacidade de fornecer nossos produtos e serviços a você: incluem plataformas de terceiros que fornecem serviços por meio de nossa solução. Estamos todos comprometidos em manter seus dados seguros.</p>
                        <p>Também podemos compartilhar seus Dados Pessoais a fim de cumprir com a legislação vigente e cooperar com autoridades competentes.</p>
                        <h4>ONDE E POR QUANTO TEMPO ARMAZENAMOS SEUS DADOS PESSOAIS?</h4>
                        <p>Não conservamos seus dados por mais tempo do que o necessário para nossos fins comerciais ou para dar cumprimento às exigências legais ou regulatórias.</p>
                        <p>Manteremos seus dados desde que tenha uma Conta com a plataforma TicTag e, durante um período razoável, se for necessário para cumprir com obrigações legais ou regulatórias.</p>
                        <p>Os Dados Pessoais ficam armazenados no exterior, em Datacenter seguro da DigitalOcean.</p>
                        <p>Todos os nossos serviços dispõem de backup “a quente”, o que significa que os serviços não precisam ser interrompidos. Em outras palavras, a cada dado digitado é feito um backup em tempo real.</p>
                        <h4>COMO PROTEGEMOS SEUS DADOS PESSOAIS?<h4>
                        <p>Tomamos todas as medidas de segurança, técnicas e administrativas aptas para proteger os Dados Pessoais contra perda, mau uso, acesso não autorizado, divulgação, alteração ou destruição (“Incidentes”). A SimFazemos protege os Dados Pessoais de acordo com os padrões e procedimentos de segurança e confidencialidade estabelecidos pela legislação brasileira.</p>
                        <h4>QUAIS SÃO OS DIREITOS DOS TITULARES?</h4>
                        <p>A SimFazemos está comprometida com a proteção dos dados pessoais e adota as medidas necessárias para garantir a segurança, integridade e confiabilidade de todas as informações envolvidas no uso das Soluções.</p>
                        <p>Em relação aos direitos dos titulares dos dados pessoais do USUÁRIO, a SimFazemos atua como operadora, auxiliando o USUÁRIO, com as respostas as solicitações dos Titulares. Caso venha a ocorrer solicitação/requisição aos dados imputados na Solução, será repassado e alinhado junto ao Usuário (Controlador dos Dados).</p>
                        <p>O Usuário, por meio de solicitações dos Titulares dos Dados Pessoais poderão realizar acesso, exclusão, correção, atualização dos dados ou exercer quaisquer dos demais direitos previstos no artigo 18 da Lei Geral de Proteção de Dados, por meio do Portal. Após análise pela SimFazemos, caso não haja nenhum empecilho legal ou contratual, procederemos com a execução solicitada.</p>
                        <h4>ATUALIZAÇÃO DA POLÍTICA</h4>
                        <p>A SimFazemos poderá atualizar esta política de privacidade a qualquer momento e o fará periodicamente. Quaisquer alterações em nossa Política serão imediatamente publicadas no site da plataforma TicTag.</p>
                        <p>**** Em caso de dúvidas sobre esta Política ou para mais informações, sinta-se à vontade para entrar em contato conosco através do e-mail: suporte@tictag.com.br<p>
                    </div>   
                </div>   
            </div>   
        </div>   
    </div>   


    
    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/landng/">Início</a><i class="fa fa-angle-double-right"></i><span>Política de Privacidade</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


   <!-- Footer -->
   <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#600A55;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
   <div class="footer">
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="footer-col first">
                       <h4>Sobre a SimFazemos</h4>
                       <p class="p-small">Criamos e aprimoramos continuamente, softwares que, <strong>realmente</strong>, resolvem. Reduzem seu trabalho e aumentam seu faturamento.</p>
                   </div>
               </div> <!-- end of col -->
             
               <div class="col-md-4">
                   <div class="footer-col last">
                       <h4>Fale Conosco</h4>
                       <ul class="list-unstyled li-space-lg p-small">
                           {% comment %} <li class="media">
                               <i class="fas fa-map-marker-alt"></i>
                               <div class="media-body">22 Innovative, San Francisco, CA 94043, US</div>
                           </li> {% endcomment %}
                           <li class="media">
                               <i class="fas fa-envelope"></i>
                               <div class="media-body"><a class="white" href="mailto:contato@tictag.com.br">contato@tictag.com.br</a></div>
                           </li>
                       </ul>
                   </div> 
               </div> <!-- end of col -->
           </div> <!-- end of row -->
       </div> <!-- end of container -->
   </div> <!-- end of footer -->  
   <!-- end of footer -->


   <!-- Copyright -->
   <div class="copyright">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <p class="p-small">Copyright © 2022 <a>Sim, Fazemos.</a>
                   .</p>
               </div> <!-- end of col -->
           </div> <!-- enf of row -->
       </div> <!-- end of container -->
   </div> <!-- end of copyright --> 
   <!-- end of copyright -->

    {% endblock %}

   