{% extends 'landing/landingBase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load cent_to_reel %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="O TicTag é um sistema, software, programa, plataforma, aplicativo de gestão, gerenciamento, administração de brechós e lojas de roupas que atua especialmente no mundo da moda cirucular, do consumo sustentável, no mercado de segunda mão.">
    <meta name="author" content="SimFazemos">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="TicTag" /> <!-- website name -->
	<meta property="og:site" content="www.tictag.com.br" /> <!-- website link -->
	<meta property="og:title" content="TicTag - Sistema de Gestão de Brechós"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="O TicTag é um sistema, software, programa, plataforma, aplicativo de gestão, gerenciamento, administração de brechós e lojas de roupas que atua especialmente no mundo da moda cirucular, do consumo sustentável, no mercado de segunda mão." /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="www.tictag.com.br/landing/" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Termos e Condições de Uso - TicTag - Sistema de Gestão de Brechós e Lojas de Roupas</title>
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
    <!-- Image Logo -->
    

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="/landing/"><img src="{% static 'landing/images/log_nova_tictag_branca_400x105.png' %}" alt="logo"></a> 
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>Termos e Condições de Uso</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/landing/">Início</a><i class="fa fa-angle-double-right"></i><span>Termos e Condições de Uso</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        
<p>Termos de Uso
    <p>Este documento apresenta as nossas condições sob as quais oferecemos o nosso sistema ao mercado. Por favor leia atentamente os Termos de Uso e Condições abaixo</p>
    <p>Ao utilizar a “Sistema TicTag”, sob qualquer hipótese de uso, mesmo que de modo parcial ou gratuito, e/ou clicar na marcação "Li e concordo com os Termos de Uso e Condições" da caixa de diálogo você aceita e concorda totalmente com os presentes Termos de Uso e Condições</p>
    <p>Nestes Termos de Uso e Condições, você, seja pessoa física ou jurídica, será considerado o “Usuário” para o uso do nosso software, disponível em plataforma web, denominado “Sistema TicTag” (o “Sistema” ou “Software”), pelo prazo que você escolher no ato da contratação do licenciamento</p>
    <p>Nós seremos a “Licenciante ou SimFazemos”, e nossos dados completos são os seguintes: SIMFAZEMOS DESENVOLVIMENTO DE SISTEMAS LTDA, sociedade limitada, inscrita no CNPJ/ME sob o nº 49.963.464/0001-92, com sede na Rua Clara Nunes, 387, Pituba, CEP 41.810-425, Salvador, Bahia, Brasil</p>
    <p>1.DEFINIÇÕES
    <p>Para facilitar a leitura deste adotamos as seguintes definições:
    <p>Aplicativos: adicionais às operações e módulos originais do Sistema, cujos valores, modo de funcionamento e termos de uso são próprios;
    <p>Plano Contratado: o Plano oferecido pela SimFazemos e contratado pelo Usuário;
    <p>Perfil no Sistema: o usuário contratante poderá criar novos usuários no Sistema para que outras partes interessadas (exemplo: colaboradores, outros sócios, etc) possam usar o Sistema, tendo os usuários acesso a diferentes funcionalidades e poderes a depender das configurações predeterminadas escolhidas pelo usuário titular do sistema</p>
    <p>“Software” ou “Sistema”: refere-se ao software online de computador “TicTag” (operado em plataforma Web, sem necessidade de download), desenvolvido e de integral propriedade da SimFazemos, distribuído e comercializado sob a modalidade SaaS (Software as a Service, traduzido como “software como um serviço”), não customizável, e demais produtos e serviços atualmente disponibilizados ou que venham a ser desenvolvidos estando seus direitos de uso descritos no presente instrumento;
    <p>“Usuário” e “Licenciado”: trata-se da pessoa física ou jurídica que aceitou as condições estabelecidas nestes Termos de Uso e que contratou o Sistema ou atua representando o contratante perante à SimFazemos;
    <p>“Suporte Técnico”: significa o atendimento oferecido pela Licenciante ao Usuário exclusivamente para o fim de esclarecer dúvidas, problemas técnicos ou quaisquer questões relacionadas dificuldades na utilização do Sistema;
    <p>“Software Não Customizável”: significa que as funcionalidades disponibilizadas pelo Sistema são padronizadas - uniformes e iguais para todos os Usuários e o desenvolvimento de elementos para o Sistema depende de avaliação interna e é facultativo à SimFazemos</p>
    <p>“Licenciante” ou “nós” ou “SimFazemos”: refere-se à SIMFAZEMOS DESENVOLVIMENTO DE SISTEMAS LTDA</p>
    <p>2. OBJETO
    <p>O presente Termos de Uso e Condições disciplina o licenciamento de uso do Sistema, não customizável (padronizado), pelo Usuário, em quaisquer das versões disponíveis</p>
    <p>3. USO DO SISTEMA
    <p>O uso do Sistema, o pagamento e o acesso às funcionalidades nele disponíveis estarão adstritos à modalidade, campanha e /ou Plano Contratado</p>
    <p>Ao aceitar os presentes Termos e Condições, o Usuário possuirá o direito de utilizar o Sistema de modo online, em plataforma web, por meio do link, login e senha de acesso que a si forem gerados, através do site: https://tictag.com.br/</p>
    <p>4. PLANO CONTRATADO
    <p>A escolha do Usuário por um dos Planos oferecidos pela SimFazemos e disponível na página da web https://tictag.com.br/, na sessão “planos” (no momento da contratação) é parte integrante do procedimento de contratação do Sistema, estando o Usuário vinculado às funcionalidades do Plano escolhido</p>
    <p>Os presentes termos se aplicam ao Usuário que optar por utilizar qualquer um dos planos, inclusive os gratuitos ou o modo ‘Teste Grátis' eventualmente oferecidos. Os Planos gratuitos e o modo ‘Teste Grátis' podem ser suspensos ou cancelados a qualquer tempo pela SimFazemos, sem a necessidade de prévia comunicação</p>
    <p>A SimFazemos poderá oferecer Planos e descontos diferenciados exclusivos para os novos clientes</p>
    <p>A alteração dos valores dos Planos de acordo com as campanhas da SimFazemos não altera o valor do Plano Contratado pelo Usuário</p>
    <p>5. VIGÊNCIA
    <p>Estes Termos vigorarão pelo prazo em que o Sistema for utilizado gratuitamente ou conforme a vigência do Plano Contratado e da renovação automática</p>
    <p>6. RENOVAÇÃO AUTOMÁTICA E CANCELAMENTO DA RENOVAÇÃO
    <p>Plano Contratado será automaticamente renovado por iguais e sucessivos períodos, exceto nas situações em que o Usuário cancele a renovação antes da finalização do período de vigência</p>
    <p>A cobrança da renovação poderá se dar através de débito automático, cobranças no cartão de crédito ou pelos meios de pagamento cadastrados junto à SimFazemos</p>
    <p>Usuário poderá solicitar o cancelamento da renovação automática, desde que comunique à SimFazemos por escrito e mediante função específica do Sistema, no menu de Configurações > Plano e Assinatura do Sistema. A cobrança do próximo ciclo após o cancelamento não mais acontecerá, mas a cobrança referente ao ciclo em curso ainda ocorrerá; 
    <p>Eventuais descontos concedidos no momento da contratação somente valerão para a vigência do Plano Contratado, não se aplicando a renovações e seguirão os critérios estabelecidos para o desconto em questão;
    <p>7.	PREÇO E FORMA DE PAGAMENTO
    <p>Pelo licenciamento do uso do Sistema, o Usuário deverá pagar o valor correspondente ao Plano Contratado por meio de uma das modalidades de pagamento disponíveis</p>
    <p>No valor a ser pago pelo Usuário poderá haver a adição dos valores relativos a serviços adicionais (como quantidade de usuários, aplicativos, emissões adicionais de documentos fiscais e APIs de nossos parceiros)</p>
    <p>8.	ATRASO NO PAGAMENTO
    <p>Atraso no pagamento de qualquer obrigação prevista neste Termos de Uso sujeitará os valores devidos e não pagos à incidência de 2% (dois por cento), mais juros moratórios de 1% ao mês e correção monetária pelo índice IGP-M/FGV, sendo estes últimos devidos pro rata die (proporcionalmente por dia) até a data do efetivo pagamento</p>
    <p>Atraso superior a 8 (oito) dias no pagamento de qualquer parcela, inclusive de parcela de aplicativo adicional ou de usuário adicional, ou o pagamento parcial, implicará na suspensão de acesso ao Sistema</p>
    <p>A liberação do acesso ao Sistema ocorrerá apenas através da compensação bancária ou processamento do cartão de crédito diretamente com a operadora, ficando assim descartada a liberação mediante comprovante de pagamento</p>
    <p>Atraso superior a 10 (dez) dias no pagamento de qualquer parcela, inclusive de parcela de aplicativo adicional, poderá acarretar a negativação do CNPJ/CPF do Usuário (e/ou Devedor Solidário - quando aplicável) nos órgãos de proteção ao crédito SPC/SERASA e/ou Protesto do Título</p>
    <p>Caso a inadimplência permaneça por prazo superior a 90 (noventa) dias, a conta do Usuário será cancelada e em atendimento à Lei Geral de Proteção de Dados, serão excluídas integralmente todas as informações lançadas, importadas ou alimentadas no Sistema relativas à conta</p>
    <p>8.1. TAXA DE REATIVAÇÃO</p>
    <p>Conforme estabelecido na cláusula 8, o atraso superior a 8 (oito) dias no pagamento implicará na suspensão do acesso ao Sistema. Após essa suspensão, a reativação do Plano Contratado estará sujeita à cobrança de taxa de reativação no valor de R$ 80,00 (oitenta reais), além do valor em aberto.</p>
    <p>A taxa de reativação será aplicada a cada reativação necessária e será cobrada juntamente com o valor da mensalidade em aberto, devendo ser quitada para que o acesso ao Sistema seja restabelecido.</p>
    <p>O Usuário será comunicado sobre a aplicação da taxa de reativação por e-mail e WhatsApp (quando disponível) antes da cobrança.</p>
    <p>9.	ALTERAÇÃO DO PLANO CONTRATADO
    <p>Caso o Usuário, no decorrer da vigência do Plano Contratado, opte por outro plano (downgrade ou upgrade) deverá ser formalizada uma nova negociação e nova contratação de Plano junto aos agentes da SimFazemos</p>
    <p>Caso existam créditos (pelos meses pagos e não utilizados) do Plano a ser alterado, os valores proporcionais serão descontados do valor da nova negociação e contratação</p>
    <p>10.	CANCELAMENTO DO PLANO CONTRATADO E INCIDÊNCIA DE MULTA
    <p>Usuário poderá solicitar o cancelamento e a devolução total dos valores pagos em até 7 (sete) dias corridos após a data de contratação</p>
    <p>pedido de Cancelamento deverá ocorrer exclusivamente através de email enviado para suporte@tictag.com.br, com confirmação de recebimento, ficando expressamente vedada a solicitação de cancelamento por chat ou telefone</p>
    <p>11.	APLICATIVOS EXTRAS
    <p>Sistema possui, além das operações e módulos originais, aplicativos extras, cujos valores e termos de uso são próprios</p>
    <p>Os aplicativos incorporam funcionalidades extras ao Sistema, não estão integrados no Plano Contratado e podem ser ou não desenvolvidos por empresas independentes</p>
    <p>Os aplicativos são disponibilizados de duas formas: gratuita ou paga, sendo que seu correto funcionamento é de total responsabilidade dos seus desenvolvedores originários, havendo, neste caso, completa isenção de responsabilidade da SimFazemos, que apenas os divulga como possibilidade adicional de uso integrado com o Sistema </p>
    <p>Embora a SimFazemos preze pelo adequado funcionamento do sistema, não garante: (i) a continuidade destes aplicativos ou funções extras do sistema; (ii) a veracidade e integridade das informações disponibilizadas através de integrações com sistemas de terceiros, como consultas de restrições financeiras, consulta cadastral de CNPJ/CPF e consulta de endereços, entre outros; e (iii) a velocidade, estabilidade e entregas das integrações, pois depende de infraestrutura de terceiros, ficando desta forma fora da cláusula de Nível de Serviço</p>
    <p>A SimFazemos se reserva ao direito de descontinuar a qualquer momento, sem necessidade de aviso prévio ou justificativas, os aplicativos ou integrações que por motivos alheios à sua vontade apresentem falhas de segurança, bugs, lentidão nos serviços ou desacordo comercial entre a SimFazemos e Terceiros</p>
    <p>12.	INFORMAÇÕES CADASTRAIS
    <p>Para utilizar as funcionalidades disponibilizadas pela Plataforma, o Usuário deve fornecer informações específicas a respeito de si e/ou da pessoa física ou jurídica que representa</p>
    <p>Usuário é responsável por manter em sigilo as credenciais de acesso ao Sistema (nome de usuário, senha, entre outros), assumindo a responsabilidade de não compartilhar com terceiros as suas informações de acesso</p>
    <p>Caso o acesso ao Sistema seja efetuado por terceiros em razão da negligência do Usuário em relação aos seus dados de acesso, a SimFazemos fica isenta de qualquer responsabilidade relacionada à privacidade e segurança das informações e arquivos do Usuário</p>
    <p>Usuário não poderá compartilhar, dividir ou fornecer suas credenciais de acesso para utilização de terceiros</p>
    <p>Usuário declara que o e-mail, telefone e endereço físico informados à SimFazemos por meio do Sistema são verdadeiros e são meios igualmente eficazes, válidos e suficientes para recebimento de comunicados relacionados à sua conta, bem como para informações de cancelamento ou suspensão de uso da Plataforma</p>
    <p>Usuário reconhece e autoriza também a utilização da página inicial de acesso ao Sistema e o e-mail como meios eficazes, válidos e suficientes para a divulgação de assuntos relacionados ao Plano contratado, inclusive em relação a eventual reajuste de preços ou alteração de funcionalidades e dos limites de armazenamento</p>
    <p>13.	PERFIS NA PLATAFORMA
    <p>Usuário poderá criar diferentes perfis no Sistema para que outras partes interessadas (exemplo: colaboradores, outros sócios, etc) possam usar o Sistema, tendo os perfis acesso a diferentes funcionalidades e poderes a depender das configurações predeterminadas escolhidas pelo Usuário</p>
    <p>Usuário será o único e exclusivo responsável por toda a atividade realizada no Sistema por meio da utilização dos perfis que criou, devendo informar, orientar e fazer com que as partes interessadas observem todas as regras previstas neste Termos de Uso, particularmente as regras de sigilo sobre as credenciais de acesso (nome de usuário, senha, entre outros) e nas demais legislações</p>
    <p>Usuário está ciente que o perfil de Master pode gerir e acessar a integralidade da conta no Sistema e que a atribuição desse perfil é de sua integral responsabilidade</p>
    <p>14.	RESTITUIÇÃO DAS INFORMAÇÕES
    <p>A partir do cancelamento da conta, por solicitação ou inadimplemento ou encerramento do Plano, as informações do Usuário armazenadas no Sistema ficarão disponíveis pelo período de 15 (quinze) dias para restituição</p>
    <p>Para tanto, o Usuário, dentro do prazo, deve entrar em contato através do email suporte@tictag.com.br, com confirmação de recebimento, e solicitar a restituição de informações</p>
    <p>Após os 90 (noventa) dias dados do cancelamento da conta, os dados do Usuário na Plataforma, incluindo Cadastros, Dados Bancários, Dados Financeiros, Vendas, Serviços, Entradas de Mercadorias, e todos os demais dados/informações relacionadas a sua unidade operacional no sistema, bem como os “APPs” serão excluídos PERMANENTEMENTE, independentemente de terem sido extraídas ou não pelo Usuário</p>
    <p>Uma vez excluídas, as informações do item 14.3 serão apagadas de qualquer base de dados da SimFazemos; portanto, não serão passíveis de recuperação</p>
    <p>15. 	OBRIGAÇÕES DA SimFazemos</p>
    <p>A SimFazemos se responsabiliza por:</p>
    <p>Garantir o adequado funcionamento do Sistema, ressalvadas as hipóteses de indisponibilidade</p>
    <p>Garantir a integridade e o sigilo no armazenamento dos dados e do certificado do Usuário</p>
    <p>Garantir o atendimento aos Usuários do Sistema</p>
    <p>As garantias estipuladas neste instrumento não abrangem:</p>
    <p>A prestação do serviço de forma ininterrupta ou isenta de erros, em razão de sua complexidade</p>
    <p>Impossibilidade de se realizarem operações, durante a eventual indisponibilidade dos serviços</p>
    <p>Problemas, erros, danos ou prejuízos decorrentes de informações incorretas no preenchimento do Sistema (inclusive aquelas para cálculo das obrigações legais) ou advindas de decisões e erros decorrentes de negligência, imprudência ou imperícia do Usuário, seus empregados e/ou consultores</p>
    <p>Despesas externas assumidas pelo usuário que não estejam relacionadas com a assinatura do sistema.</p>
    <p>Problemas provenientes de caso fortuito ou força maior</p>
    <p>Instabilidades ou indisponibilidades nos serviços prestados por terceiros</p>
    <p>Problemas: na comunicação com SEFAZ; com a configuração ou funcionamento de SMTP próprio; Problemas com API de sistemas terceiros, tais como Whatsapp</p>
    <p>A homologação de novos sistemas para emissão de Notas Fiscais</p>
    <p> funcionalidades e melhorias para o Sistema, pois: (i) as funcionalidades disponibilizadas são uniformes e iguais para todos os Usuários e (ii) o desenvolvimento de elementos para o Sistema depende de avaliação interna e compete integralmente à SimFazemos</p>
    <p>3.	OBRIGAÇÕES DO USUÁRIO</p>
    <p>Para a efetiva utilização do Sistema TicTag, o USUÁRIO obriga-se a:
    <p>Obter, no caso da opção pelo plano com emissão de documentos fiscais, e renovar o Certificado Digital modelo A1 junto a terceiros (Emita já , dentre outros);
    <p>Vincular o Certificado Digital modelo A1 no Sistema TicTag a fim de viabilizar a emissão das notas fiscais; Manter o Emissor de notas fiscais eletrônicas A1 sempre atualizado;
    <p>Providenciar o seu credenciamento junto à Secretaria da Fazenda;
    <p>Cumprir os requisitos de homologação, quando exigidos pela Secretaria da Fazenda;
    <p>Verificar junto ao Sistema TicTag se sua cidade possui homologação para emissão de notas fiscais eletrônicas (NFCe e NFe);
    <p>Manter o seu navegador de internet, Google Chrome, único homologado pelo SimFazemos para uso do sistema, sempre atualizado, na versão mais recente</p>
    <p>Manter seu sistema operacional (Windows, MacOS, Linux, dentre outros), sempre atualizado na versão mais recente. Dispor de um antivírus, e manter o mesmo sempre atualizado</p>
    <p>Parametrizar e lançar os dados das notas fiscais no Sistema TicTag;
    <p>Prezar pela legalidade, integridade e qualidade dos dados e informações constantes nas notas fiscais emitidas pelo Sistema;
    <p>Adotar procedimentos de conferência de dados, buscando evitar tudo o que acredita ser fonte de erro ou de dano, respondendo pela omissão, inércia e imprudência;
    <p>Conferir todas as informações inseridas no sistema, uma vez que a SimFazemos apenas disponibiliza o Sistema que deve ser alimentado pelo Usuário;
    <p>Garantir a validade de todas as alíquotas, taxas e demais informações inseridas no sistema para geração da nota fiscal e demais documentos, mediante consultoria contábil, tributária e fiscal própria;
    <p>Conferir todos os documentos emitidos pelo Sistema, especialmente Nota Fiscais, uma vez que não é possível garantir a inexistência de erros;
    <p>Garantir que não existam incorreções no preenchimento das informações do Sistema, especialmente aquelas necessárias para emissão de Nota Fiscais;
    <p>Orientar seus clientes sobre a conferência dos boletos e notas fiscais enviadas para pagamento considerando os golpes perpetrados na internet;
    <p>Garantir a devida base legal para tratamento dos dados pessoais por si incluídos no Sistema TicTag</p>
    <p>17.	INFORMAÇÕES INSERIDAS NO SISTEMA E EMISSÃO DE DOCUMENTOS</p>
    <p>A emissão de Documentos Fiscais depende exclusivamente da correta alimentação dos campos do Sistema pelo Usuário de acordo com as normas e legislação. Para tanto, é obrigação do Usuário contratar a devida assessoria contábil, fiscal e tributária</p>
    <p>A SimFazemos não se responsabiliza, em hipótese alguma, pelos dados fornecidos pelo Usuário para a emissão das Notas Fiscais, tão pouco pela estratégia adotada pelo Usuário quanto a forma de recolhimento dos tributos e eventual sonegação de dados</p>
    <p>A SimFazemos não assume expressa ou implicitamente, qualquer responsabilidade mercantil, tributária, fiscal ou trabalhista decorrente do uso do Sistema ou dos documentos por ele emitidos pelo Usuário</p>
    <p>A SimFazemos apenas disponibiliza um sistema que deve ser alimentado pelo Usuário, sendo obrigação do Usuário (e de sua assessoria contábil, fiscal e tributária) - a cada emissão de documento verificar as informações ali contidas estão calculadas devidamente e em conformidade com a legislação, bem como assegurar que todas as operações com repercussão fiscal estão sendo devidamente realizadas</p>
    <p>18.	SEGURANÇA DE INFORMAÇÃO</p>
    <p>A SimFazemos trabalha com tecnologias de ponta e preza pela plena segurança em suas transações. Assim, reforça que seus canais oficiais para comunicação é o email suporte@tictag.com.br, sempre com a necessidade de confirmação de recebimento;
    <p>Para auxiliar nesse processo, o Usuário pode e deve evitar sua exposição a riscos, estando ciente de que a SimFazemos nunca envia e-mails solicitando confirmação de dados ou cadastros, muito menos e-mails com anexos executáveis (extensão .exe, .com, .scr, .bat, .zip, .rar, .clp) ou contendo links para download</p>
    <p>Caso o Usuário receba qualquer comunicação duvidosa ou fora dos horários de atendimento (das 8h às 19h), solicitamos que reporte a situação à SimFazemos</p>
    <p>20.	POLÍTICA DE PRIVACIDADE E LEI GERAL DE PROTEÇÃO DE DADOS PESSOAIS (LGPD)</p>
    <p>A SimFazemos tem como prioridade garantir a privacidade e segurança dos dados de clientes e parceiros, sempre em conformidade com os princípios e diretrizes da Lei Geral de Proteção de Dados (Lei nº 13.853/2019), bem como das demais legislações vigentes, como o Marco Civil da Internet (Lei nº 12.965/2014) e a Constituição Federal</p>
    <p>Por isso, a SimFazemos possui uma Política de Privacidade específica que tem como objetivo principal demonstrar, com transparência, como e por que são coletados, armazenados, compartilhados e utilizamos os dados pessoais e, além disso, expor de que maneira buscamos proteger essas informações</p>
    <p>Ao aceitar estes Termos de Uso e Condições, o Usuário declara ciência de estar vinculado à nossa Política de Privacidade, disponível em http://SimFazemos.com.br/politica-de-privacidade</p>
    <p>Ainda, ao aceitar esses Termos de Uso e Condições, o Usuário anui com o compartilhamento de seus dados de cadastro com as empresas do Grupo SimFazemos e empresas parceiras que podem vir a oferecer serviços ao Usuário</p>
    <p>Todos os dados pessoais de terceiros incluídos pelo Usuário no Sistema TicTag, são de inteira responsabilidade do Usuário. Nesses casos o Usuário atua como Controlador e garante que possui base legal para o tratamento de tais dados</p>
    <p>21.	PROPRIEDADE INTELECTUAL</p>
    <p>Para além do direito de uso, a aquisição da licença do Sistema, a SimFazemos não concede nenhum direito adicional ao Usuário em relação ao Sistema, seja direito de propriedade intelectual ou outros direitos exclusivos, como patentes, desenhos, marcas, direitos autorais ou direitos sobre informações confidenciais ou segredos de negócio</p>
    <p>De igual forma, o Usuário não está autorizado a copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir, doar, alienar de qualquer forma, transferir total ou parcialmente, sob quaisquer modalidades, gratuita ou onerosamente, provisória ou permanentemente, o Sistema objeto desta Licença, assim como seus módulos, partes, manuais ou quaisquer informações relativas ao mesmo</p>
    <p>É vedado ao Usuário utilizar quaisquer dispositivos, softwares, e/ou quaisquer outros recursos que possam interferir nas atividades e/ou operações do Sistema</p>
    <p>Usuário é responsável por todas as informações enviadas por si ou por meio de seus colaboradores e representantes através do acesso e uso do Sistema, assim como por qualquer conteúdo inserido, responsabilizando-se integralmente e ilimitadamente por quaisquer violações legais a direitos de terceiros, incluindo direitos de propriedade intelectual</p>
    <p>22.	NÍVEL DE SERVIÇO</p>
    <p>Com relação ao Nível de Serviço, considerando os necessários períodos de manutenção preventiva e atualização do Sistema, a SimFazemos empreenderá esforços comercialmente razoáveis para tornar o Sistema disponível, no mínimo, 98,0% (noventa e oito por cento) durante cada Ano de Serviço</p>
    <p>Na hipótese de a SimFazemos não cumprir o Compromisso de Nível de Serviço, o Usuário terá o direito de receber o crédito correspondente a 1/5 de (um) mês de mensalidade;
    <p>Por “Ano de Serviço” entende-se os 365 (trezentos e sessenta e cinco) dias precedentes à data de uma reivindicação relacionada ao nível de serviço</p>
    <p>Mesmo que o Usuário utilize o Sistema durante período inferior a 365 dias, o Ano de Serviço que lhe corresponde será, ainda assim, considerado como os 365 dias precedentes; no entanto, os dias anteriores ao seu uso dos serviços serão considerados como de 100% de disponibilidade</p>
    <p>Os períodos de inatividade operacional que ocorrerem antes de uma reivindicação bem sucedida de Crédito de Serviço não poderão ser usados para efeito de reivindicações futuras</p>
    <p>Compromisso de Nível de Serviço não se aplica caso as circunstâncias de indisponibilidade:
    <p>Resultem de uma interrupção do fornecimento de energia elétrica ou paradas emergenciais não superiores a 2 (duas) horas ou que ocorram no período das 24h às 6:00h (horário de Brasília);
    <p>Forem causadas por fatores que fujam ao razoável controle da SimFazemos, inclusive casos de força maior ou de acesso à Internet e problemas correlatos;
    <p>Resultem de quaisquer atos ou omissões do Usuário ou de terceiros;
    <p>Resultem do equipamento, software ou outras tecnologias que o Usuário usar que impeçam o acesso regular do Sistema;
    <p>Resultem de falhas de instâncias individuais não atribuíveis à indisponibilidade do Usuário;
    <p>Resultem de eventos de força maior que possa acometer as instalações da SimFazemos ou de seus parceiros, inclusive serviços de hospedagem do servidor da aplicação, bem como do banco de dados;
    <p>Resultem de eventos ocorridos nos serviços de hospedagem do servidor da aplicação ou do serviço de hospedagem do banco de dados;
    <p>Resultem de alterações realizadas na forma de acesso a informações financeiras e/ou informações de conta do Usuário pelas instituições financeiras;
    <p>Resultantes de paradas programadas, estas comunicadas com 48 (quarenta e oito) horas de antecedência ao Usuário</p>
    <p>23.	SUPORTE TÉCNICO</p>
    <p>Suporte Técnico está disponível ou não para o Usuário conforme previsto no Plano Contratado, em horário comercial e conforme as condições disponíveis no site do sistema TicTag</p>
    <p>Para os casos em que disponibilizado o Suporte Técnico, este poderá ser acessado por meio do Whatsapp divulgado no site do sistema. O suporte técnico estará disponível de Segunda à Sexta, das 9h30 às 17h30 (Horário de Brasília)</p>
    <p>É importante ressaltar que o suporte técnico não é imediato. Nosso processo de atendimento segue uma ordem baseada no recebimento dos chamados, garantindo uma abordagem justa e eficiente para todos os usuários.</p>
    <p>É importante ressaltar também que o suporte técnico é um processo de cooperação entre o usuário e o atendente e que, portanto, prescide que o usuário coopere ajudando o atendente com as solicitações que o permitem avançar no caminho da solução.</p>
    <p>As partes expressamente reconhecem a existência de um consenso mundial acerca de não haver programa de computador totalmente isento de erros, razão pela qual a SimFazemos deverá ser comunicada na hipótese da ocorrência de qualquer defeito, bug ou instabilidade no Sistema, a fim de que possa prestar suporte antes que lhe seja atribuída qualquer responsabilidade para efeito de ressarcimento ou indenização</p>
    <p>Não são integrados no Suporte Técnico, os seguintes serviços: (a) correções de erros provenientes de operação e uso indevido do Sistema; (b) recuperação de arquivos de dados, quando possível, Sistema de erros de operação, desde que estes erros ou falhas não decorram do Sistema; Serviços de migração e conversão de dados para outros aplicativos, além dos recursos disponíveis no Sistema; (c) serviços de consultoria e assessoria contábil, fiscal ou tributária e (d) visitas técnicas presenciais</p>
    <p>25.	DA RESPONSABILIDADE SOLIDÁRIA
    <p>A responsabilidade solidária é aplicável apenas à contratação do Sistema celebrada em contratos físicos com essa previsão</p>
    <p>Nos termos do art. 275 e seguintes do Código Civil Brasileiro, o Devedor Solidário assume, por si e/ou em solidariedade com o Licenciado (Usuário) todas as obrigações, encargos e cominações de natureza financeira decorrentes do presente contrato, respondendo INTEGRALMENTE pelo pagamento dos valores devidos à Licenciante (SimFazemos), arcando inclusive com todas as consequências advindas da inadimplência, estando ainda ciente que a responsabilidade solidária ora avençada perdurará até a quitação dos valores do presente contrato e de sua renovação</p>
    <p>Em razão do não pagamento do presente contrato, o Devedor Solidário poderá ser cobrado judicialmente e extrajudicialmente e, inclusive, inscrito no cadastro de inadimplentes</p>
    <p>26.	DAS DISPOSIÇÕES GERAIS</p>
    <p>Em nenhuma hipótese será atendido o pedido de cancelamento de nota fiscal já emitida, para fins de cancelamento do Plano Contratado</p>
    <p>Toda e qualquer concessão ou tolerância, relativamente às prerrogativas ora asseguradas e às condições estabelecidas nestes Termos, será considerada mera liberalidade, não gerando direitos e obrigações, em hipótese alguma, no presente ou no futuro</p>
    <p>Usuário não poderá ceder o presente, a que título for (onerosa ou gratuitamente) e a quem quer que seja</p>
    <p>Os presentes Termos de Uso poderão ser atualizados a qualquer tempo, mediante notificação via e-mail inserido no cadastro ou atualizados no próprio site do sistema</p>
    <p>A versão atualizada e vigente dos Termos de Uso e Condições será a última publicada no site do sistema https://tictag.com.br/termos-de-uso</p>
    <p>27.	DO FORO</p>
    <p>Para dirimir conflitos, as partes elegem o Foro Salvador, Bahia, renunciando qualquer outro, por mais privilegiado que se apresente</p>
    <p>Ao prosseguir, você declara que leu, compreendeu e concordou com os termos do presente, bem como com a Política de Privacidade</p>
   

    
    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/landing/">Início</a><i class="fa fa-angle-double-right"></i><span>Termos e Condições</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


   <!-- Footer -->
   <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
   <div class="footer">
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="footer-col first">
                       <h4>Sobre a SimFazemos</h4>
                       <p class="p-small">Criamos e aprimoramos continuamente, softwares que, <strong>realmente</strong>, resolvem. Reduzem seu trabalho e aumentam seu faturamento.</p>
                   </div>
               </div> <!-- end of col -->
             
               <div class="col-md-4">
                   <div class="footer-col last">
                       <h4>Fale Conosco</h4>
                       <ul class="list-unstyled li-space-lg p-small">
                           {% comment %} <li class="media">
                               <i class="fas fa-map-marker-alt"></i>
                               <div class="media-body">22 Innovative, San Francisco, CA 94043, US</div>
                           </li> {% endcomment %}
                           <li class="media">
                               <i class="fas fa-envelope"></i>
                               <div class="media-body"><a class="white" href="mailto:contato@tictag.com.br">contato@tictag.com.br</a></div>
                           </li>
                       </ul>
                   </div> 
               </div> <!-- end of col -->
           </div> <!-- end of row -->
       </div> <!-- end of container -->
   </div> <!-- end of footer -->  
   <!-- end of footer -->


   <!-- Copyright -->
   <div class="copyright">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <p class="p-small">Copyright © 2022 <a>Sim, Fazemos.</a>
                   </p>
               </div> <!-- end of col -->
           </div> <!-- enf of row -->
       </div> <!-- end of container -->
   </div> <!-- end of copyright --> 
   <!-- end of copyright -->

    {% endblock %}

   